*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

img {
  object-fit: cover;
  width: 100%;
  page-break-inside: avoid;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.preview {
  padding: 16px;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .row {
    flex-wrap: wrap;
  }

  .preview {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .row {
    flex-wrap: nowrap;
  }

  .preview {
    float: left;
    width: 25%;
  }
}
